
/* --------------------------- Banner ------------------------------- */
/*

#ID20
{
    background-image: url(bannerlinkshoverBG.gif);
    height: 21px;
}

#ID25
{
    background-image: url(bannerlinkshoverBG.gif);
    height: 21px;
}



#ID25 a:active, #ID25 a:focus
{
    background-image: url(bannerlinkshoverBG.gif);
    height: 21px;
}

*/

